#header .name .header-nav header{
    position: fixed;
}
.name {
    color: #ffffff;
    background-color: #4aaaa5;
    margin-right: 80%;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding-top: 2%;
    width: 100%;
    border: 10px solid #cccccc;

}
.header-nav {
    display: block;
    float: right;
    margin-top: 0;
    margin-right: 20px;
  }
.header-nav li{
    display: inline;
    padding-left: 20px;
  }

header .header-nav {
    margin-top: -55px;
}


footer {
    background-color: #666666;
    padding-top: 2%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0;
    
}

#content {
    width: 960px;
    position: relative;
    padding-left: 12%;
}

p, a {
    color: #777777;
}



.about-me {
    color: #4aaaa5;
    padding-top: 20px;
    padding-left: 20px;
}

#about-container {
    background-color: #ffffff;
    align-content: center;
    padding-bottom: 30%;
    border: 10px solid #cccccc;
    margin-top: 5%;
}

.about-content {
    padding-top: 1px;
    padding-right: 5%;
}

img {
    width: 300px;
    float: left;
    padding: 20px;
}

body {
                
    background-image: url("Assets/Images/escherdark.png")
    }
